* {
	border: 1px solid green;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100px;
	padding: 0%;
	background-color: 250 0 0 50;
}

header p {
	margin: 5px;
}

h1 {
	margin: 5px;
}

main {
	display: flex;
	justify-content: center;
}

.calculator {
	border: 3px solid grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 600px;
}

.display {
	width: 360px;
	height: 50px;
	border: inset 3px;
	border-radius: 10px;
	margin: 15px;
}

.buttons {
	margin: 25px;
	display: flex;
	flex-direction: column;
}

button {
	margin: 3px;
	border-radius: 10px;
}

.settings-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 25px;
}
.settings-buttons button {
	width: 150px;
}
#save
#clear

.math-buttons {
	display: flex;
	justify-content: space-evenly;
}

.numbers-buttons {
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.numbers-buttons button 

#button7 {
	width: 90px;
	height: 90px;
}

#button8 {
	width: 90px;
	height: 90px;
}

#button9 {
	width: 90px;
	height: 90px;
}

#button4 {
	width: 90px;
	height: 90px;
}

#button5 {
	width: 90px;
	height: 90px;
}

#button6 {
	width: 90px;
	height: 90px;
}

#button1 {
	width: 90px;
	height: 90px;
}

#button2 {
	width: 90px;
	height: 90px;
}

#button3 {
	width: 90px;
	height: 90px;
}

#button0 {
	height: 45px;
	width: 150px;
}

.operators-buttons 
.operators-buttons button {
	width: 90px;
	height: 45px;
}
#add {
	width: 45px;
	height: 45px;
}

#subtract {
	width: 45px;
	height: 45px;
}

#multiply {
	width: 45px;
	height: 45px;
}

#divide {
	width: 45px;
	height: 45px;
}

#modulus {
	width: 45px;
	height: 45px;
}

#decimal {
	width: 45px;
	height: 45px;
}

#result {
	width: 90%;
	height: 45px;
}
